<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1047344298062-62d6im3dnt0c68rkgrpbt8tjo5744r1k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1047344298062-62d6im3dnt0c68rkgrpbt8tjo5744r1k</string>
	<key>API_KEY</key>
	<string>AIzaSyD-UauxoaFgOSYI_CuSCwxXKY45iyYI0vI</string>
	<key>GCM_SENDER_ID</key>
	<string>1047344298062</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.loveconnect.app</string>
	<key>PROJECT_ID</key>
	<string>loveconnect-app-live-4d22a</string>
	<key>STORAGE_BUCKET</key>
	<string>loveconnect-app-live-4d22a.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1047344298062:ios:e0edea80bfe9570b30ab1f</string>
	<key>DATABASE_URL</key>
	<string>https://loveconnect-app-live-4d22a-default-rtdb.firebaseio.com</string>
</dict>
</plist>